@charset "UTF-8";

html {
    font-size: 100%;
    background-color: #fbfbfb;
}

header {
    color:#1AA9FB;
    text-align: center;
    border-bottom: 3px solid #707070;
}

header .titlename{
    color: inherit;
    text-decoration: none;
    font-size: 40px;
}

.room {
    text-align: center;
}

.title_content {
    text-align: center;
}

.title_content h2 {
    color: red;
    text-align: center;
}

.content {
    margin-left: 50px;
}

.content input {
    margin: 15px;
}

.content label {
    font-size: 20px;
}

.end {
    text-align: center;
}

.end h2 {
    color: red;
}

.button1 {
    margin-top: 10px;
    width:170px;
    height: 50px;
}