@charset "UTF-8";

html {
    font-size: 100%;
    background-color: #fbfbfb;
}

header {
    color:#1AA9FB;
    text-align: center;
    border-bottom: 3px solid #707070;
}

header .titlename{
    color: inherit;
    text-decoration: none;
    font-size: 40px;
}

.hierarchy {
    display: flex;
}

.noclean {
    margin-left: 50px;
}

.pulldown {
    margin-left: 90px;
    width: 70px;
    height: 30px;
    margin-top: 30px;
}

.button1 {
    width: 130px;
    height: 40px;
    background-color: #E1E1E1;
    border-color: #E1E1E1;
    margin: 10px;
    margin-left: 50px;
}

.noclean_room {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

.return_menu {
    text-align: center;
}

.button2 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
    height: 30px;
}

* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {

    div[id$="Buttons"] {
        display: none; 
    }

    div[id$="Buttons"] a {
        font-size: 16px;
        margin: 5px 0;
        display: block;
        color: #333; 
        background-color: #ccc; 
        border: 1px solid #999; 
        padding: 8px 12px;
        border-radius: 4px; 
        text-align: center;
        text-decoration: none; 
    }

    div[id$="Buttons"] a:hover {
        background-color: #999; 
        color: #fff; 
    }
} 