@charset "UTF-8";

html {
    font-size: 100%;
    background-color: #fbfbfb;
}

header {
    color:#1AA9FB;
    text-align: center;
    border-bottom: 3px solid #707070;
}

header .titlename{
    color: inherit;
    text-decoration: none;
    font-size: 40px;
}

.input_mail_error {
    text-align: center;
}

.input_mail_error .title1{
    margin-top: 50px;
}

.input_mail_error .title2{
    margin-top: 100px;
    color: red;
}

.button1 {
    margin-top: 200px;
    width: 70px;
    height: 30px
}