@charset "UTF-8";
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    gap: 5px;
    margin-bottom: 15px;
}

.day {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.selected {
    background-color: red;
    color: white;
}

.button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.header {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    gap: 5px;
    text-align: center;
    font-weight: bold;
}
#currentMonth {
    padding-left: 0px;
    font-size: 18px;
    margin-bottom: 10px;
    grid-column: 3 / span 3;
}
.days{
    color: red;
}
