@charset "UTF-8";

html {
    font-size: 100%;
    background-color: #fbfbfb;
}

header {
    color: #1AA9FB;
}

header h3 {
    margin-left: 130px;
}

.titlename {
    text-decoration: none;
    font-size: 40px;
    color:inherit
}

.login {
    text-align: center;
    margin-top: 50px;
}

.input_form {
    margin-top: 80px;
}

.input_form input {
    width: 230px;
    height: 40px;
    border-width: 3px;
}

.button1 {
    margin-top: 25px;
    background-color: #e2e2e2;
    border-radius: none;
}

.login .passlink {
    color: #1AA9FB;
    margin-top: 100px;
}