html {
    font-size: 100%;
    background-color: #fbfbfb;
}

body {
    color: #707070;
}

header {
    color:#1AA9FB;
    border-bottom: 1px solid #707070;
    text-align: center;
}

header p {
    text-align: center;
    font-size: 30px;
    margin-top: 0%;
}

.titlename {
    text-decoration: none;
    font-size: 45px;
    color:inherit;
    margin-right: 460px;
    margin-bottom: 5px;
}

.exp {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    height: 50px;
}

.ex {
    margin-right: 20px;
    margin-top: 0px;
}

.allbox {
    font-size: 25px;
    display:flex;
}

.box1 {
    width: 35px;
    height: 35px;
    background: #FF8F8F;
}

.box2 {
    width: 35px;
    height: 35px;
    background: #FFFF8A;
}

.box3 {
    width: 35px;
    height: 35px;
    background: #82FA95;
}

.box4 {
    width: 35px;
    height: 35px;
    background: #82DAFA;
}

.F-2 {
    transform: translate(7.25%,0%);
}

.floor {
    transform: translate(7.25%,0%);
}

.b {
    margin-right: 5px; /* ボタン同士の間隔 */
}

table {
    width: 103%;
    text-align: center;
}

tr.flex-row {
    font-size: 0; /* 不要な空白を排除 */
}

td {
    display: inline-block;
    border: 1px solid #000;
    width: 90px;
    height: 35px;
    font-size: 20px;
    color: #000;
    margin: 5px;
    padding: 10px;
    background-color: #82FA95;
}

label input {
    display: none;
}

.size {
    font-size: 20px;
    width: 90px;
    height: 50px;
    background: linear-gradient(to bottom, #ffffff 0%,#c4c4c4 100%);
    border: 1px solid #000;
}

.btns {
    display: inline-block;
    margin-right: 70px;
}

.btn1 {
    font-size: 17px;
    width: 170px;
    padding: 7px;
    background: linear-gradient(to bottom, #ffffff 0%,#c4c4c4 100%);
    border: 1px solid #000;
    transform: translate(480%,-130%);
}

div.rooms {
    display: flex;
    justify-content: space-around;
}

p.room {
    color: #333;
    background: #82FA95;
    border: 1px solid black;
    font-size: 25px; 
    width: 100px;
    padding: 15px 20px;
}
  
p.rs {
    margin: 10px 0px 0px 0px;
    text-align: center;
}
  
.m {
    background: #FF8F8F;
    font-size: 11px;
    width: 130px;
    padding: 10px;
    border: 1px solid #000;
    margin: 10px;
}

.s {
    background: #FFFF8A;
    font-size: 11px;
    width: 130px;
    padding: 10px;
    border: 1px solid #000;
    margin: 10px;
}

.z {
    background: #82FA95;
    font-size: 11px;
    width: 130px;
    padding: 10px;
    border: 1px solid #000;
    margin: 10px;
}

.red {
    background-color: #FF8F8F;
    /* 他のスタイルも追加できます */
}

/* 1の場合に黄黄にするクラス */
.yellow {
    background-color: #FFFF8A;
    /* 他のスタイルも追加できます */
}

/* 2の場合に青色にするクラス */
.green {
    background-color: #82FA95;
    /* 他のスタイルも追加できます */
}


#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#closeModal:hover, #closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 0の場合に赤色にするクラス */
.red {
    background-color: #FF8F8F;
    /* 他のスタイルも追加できます */
}

/* 1の場合に黄黄にするクラス */
.yellow {
    background-color: #FFFF8A;
    /* 他のスタイルも追加できます */
}

/* 2の場合に青色にするクラス */
.blue {
    background-color: #82FA95;
    /* 他のスタイルも追加できます */
}

.skyblue {
    background-color: skyblue;
    /* 他のスタイルも追加できます */
}