html {
    font-size: 100%;
    background-color: #fbfbfb;
}

body {
    color: #707070;
}

header {
    color:#1AA9FB;
    border-bottom: 1px solid #707070;
    text-align: center;
}

header p {
    text-align: center;
    font-size: 30px;
    margin-top: 0%;
}

.titlename {
    text-decoration: none;
    font-size: 45px;
    color:inherit;
    margin-right: 460px;
    margin-bottom: 5px;
}

.exp {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    height: 50px;
}

.ex {
    margin-right: 20px;
    margin-top: 0px;
}

.allbox {
    font-size: 25px;
    display:flex;
}

.box1 {
    width: 35px;
    height: 35px;
    background: #FF8F8F;
}

.box2 {
    width: 35px;
    height: 35px;
    background: #FFFF8A;
}

.box3 {
    width: 35px;
    height: 35px;
    background: #82FA95;
}

.box4 {
    width: 35px;
    height: 35px;
    background: #82DAFA;
}

.F-1 {
    text-align: center;
}

.F-2 {
    transform: translate(7.25%,0%);
}

.floor {
    transform: translate(7.25%,0%);
}

.a {
    margin-right: 5px; /* ボタン同士の間隔 */
}
.b {
    margin-right: 5px; /* ボタン同士の間隔 */
}
label input {
    display: none; /* デフォルトのinputは非表示にする */
}

label.a span.c {
    color: #333;
    /* background: #82FA95; */
    border: 1px solid black;
    font-size: 20px; 
    padding: 10px 35px; 
}
label.b span.d {
    color: #333;
    background: #82FA95;
    border: 1px solid black;
    font-size: 15px; 
    padding: 15px 35px; 
}
label.a input:checked + span.c {
    color: black;
    background: #82DAFA; 
}
label.b input:checked + span.d {
    color: black;
    background: #82DAFA; 
}

.size {
    font-size: 20px;
    width: 130px;
    padding: 15px;
    background: linear-gradient(to bottom, #ffffff 0%,#c4c4c4 100%);
    border: 1px solid #000;
}

.btn1 {
    font-size: 11px;
    width: 170px;
    padding: 10px;
    background: linear-gradient(to bottom, #ffffff 0%,#c4c4c4 100%);
    border: 1px solid #000;
    transform: translate(480%,-130%);
}

.btn2 {
    font-size: 11px;
    width: 170px;
    padding: 10px;
    background: linear-gradient(to bottom, #ffffff 0%,#c4c4c4 100%);
    border: 1px solid #000;
    transform: translate(490%,-130%);
}

div.rooms {
    display: flex;
    justify-content: space-around;
  }
  p.room {
      color: #333;
      background: #82FA95;
      border: 1px solid black;
      font-size: 25px; 
      width: 100px;
      padding: 15px 20px;
  }
  
  p.rs {
    margin: 10px 0px 0px 0px;
    text-align: center;
  }
  
  .m {
    background: #FF8F8F;
    font-size: 11px;
    width: 130px;
    padding: 10px;
    border: 1px solid #000;
    margin: 10px;
  }
  
  .s {
    background: #FFFF8A;
    font-size: 11px;
    width: 130px;
    padding: 10px;
    border: 1px solid #000;
    margin: 10px;
  }
  
  .z {
    background: #82FA95;
    font-size: 11px;
    width: 130px;
    padding: 10px;
    border: 1px solid #000;
    margin: 10px;
  }
  
/* .modal-open{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 50px;
    font-weight: bold;
    color: #fff;
    background: #000;
    margin: auto;
    cursor: pointer;
    transform: translate(-50%,-50%);
  } */

  .modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,50%);
    padding: 40px 20px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    box-sizing: border-box;
  }

  .modal-container:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .modal-container.active{
    opacity: 1;
    visibility: visible;
    z-index: 1000px;
  }
 
  .modal-body{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 525px;
    width: 100%;
  }

  .modal-close{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #000;
    cursor: pointer;
  }

  .modal-content{
    background: #fff;
    text-align: left;
    padding: 30px;
  }