<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/admin_temporary.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="{{url_for('index')}}" class="titlename">清掃管理システム</a>
        <p>ダイワロイネットホテル</p>
    </header>     
    <h3>新規管理者登録</h3>
    <h4>メールアドレスに送られた仮パスワードでログインしてください。
        ログイン後、パスワードの変更を行ってください。</h4>
    <a href="{{url_for('index')}}" class="button1">ログイン画面へ</a>    
</body>
</html>