<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/employee_detail.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="{{url_for('index')}}" class="titlename">清掃管理システム</a>
        <p>ダイワロイネットホテル</p>
    </header>  
    <h3>従業員詳細</h3>
        {% for data in user_details %}
        <p>従業員ID<br>
            {{ data[0] }}</p>
        <p>名前<br>
            {{ data[1] }}</p>
        <p>メール<br>
            {{ data[2] }}</p>
        <p>評価<br>
            5.0</p>
        <p>インセンティブ<br>
            今日:100円&nbsp;&nbsp;今月:2500円</p> 
        
        <form action="{{url_for('emp_delete')}}" method="post">
            <input type="hidden" name="id" value="{{ data[0] }}">
            <input type="hidden" name="name" value="{{ data[1] }}">    
            <input type="hidden" name="mail" value="{{ data[2] }}">
            <button type="submit" class="a-btn2">削除</button>
        </form>

        <form action="{{url_for('employee_edit')}}" method="post">
            <input type="hidden" name="name" value="{{data[1]}}">
            <button type="submit" class="a-btn2">編集</button>
        </form>
        
        {% endfor %}
        <form action="{{url_for('employee_all')}}" method="post">
            <button type="submit" class="a-btn2">戻る</button>
        </form>
</body>
</html>