<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/employee_all.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="{{url_for('index')}}" class="titlename">清掃管理システム</a>
        <p>ダイワロイネットホテル</p>
    </header>  
    <ul>
        <li><p>従業員一覧</p></li>
        <li>
            <button class="btn1"><a href="{{url_for('emp')}}" class="text">従業員の新規登録</a></button><br>
            <input type="checkbox" id="check" name="deleted">削除済みの従業員も表示
        </li>
    </ul>       
    <table>
        <thead>
            <tr>
                <th>従業員ID</th>
                <th>タイプ</th>
                <th>氏名</th>
                <th>評価</th>
                <th>アンケート</th>
            </tr>
        </thead>
        <tbody>
            <form>
                {% for employee in employees %}
                    <tr {% if employee[7] == true %}hidden class = "hidden"{% endif %}>
                        <td>{{ employee[0]}}</td>
                        <td>{{ employee[6]}}</td>
                        <td><a href="{{url_for('employee_detail', emp_name=employee[1])}}" name="emp_name" value="{{employee[1]}}" class="username">{{employee[1]}}</a></td>
                        <td>5.0</td>
                        <td><button class="btn2"><a href="#" class="a-text">閲覧</a></button></td>
                    </tr>
                {% endfor %}
            </form>
        </tbody>
    </table>   
    <p class="time">A 9:00~15:00<br>B 10:00~15:00</p>
    <button class="btn3"><a href="{{url_for('admintop')}}" class="a-text">戻る</a></button>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var rows = document.querySelectorAll(".hidden");
            var check = document.getElementById("check");

            check.addEventListener("click", function() {
                rows.forEach(function(row) {
                    if (row.style.display === "none" || row.style.display === "") {
                        row.style.display = "table-row";
                    } else {
                        row.style.display = "none";
                    }
                });
            });
        });
    </script>
</body>
</html>