<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/employee_edit.css')}}">
    <title>従業員情報編集</title>
</head>
<body>
    <header>
        <a class="titlename">清掃管理システム</a>
        <p>ダイワロイネットホテル</p>
    </header>        
    <h1>従業員情報編集画面</h1>
    <form action="{{url_for('emp_regi')}}" method="post">
        <p class="te2">氏名</p>
        <input type="text" name="name" class="input-text"><br>
        <p class="te3">メールアドレス</p>
        <input type="text" name="mail" class="input-text"><br>
        <p class="te4">業務時間</p>
        <div class="rbs">
            <div class="bs1">
                <input type="radio" name="concat" value="A" class="rb">&nbsp;9:00~15:00
            </div>
            <div class="bs2">
                <input type="radio" name="concat" value="B" class="rb">&nbsp;10:00~15:00
            </div>
        </div>
        <button type="submit" class="button1">登録</button>
    </form>
    <button type="submit" class="button2">戻る</button>
</body>
</html>