<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <title>Document</title>
</head>
<body>
    {% if error != null %}
    <p style="color:red">{{error}}</p>
    {% endif %}
    {% if msg != null %}
    <p style="color:red">{{msg}}</p>
    {% endif %}
    <header>
        <a href="{{url_for('index')}}" class="titlename">清掃管理システム</a>
        <p>ダイワロイネットホテル</p>
    </header>   
    <div id="ps"> 
        <a href="{{url_for('otp_mail')}}" class="pass">パスワード変更はこちら</a>
    </div>
    <h3>ログイン</h3>
    <form action="{{url_for('login')}}" method="post" class="form">
        <p class="te1">管理者ID</p>
        <input type="text" name="adminid" class="input-text" value="{{data.user_name if data is defined else ''}}">
        <p class="te2">パスワード</p>
        <input type="password" name="password" class="input-text" value="{{data.password if data is defined else ''}}"><br>
        <button type="submit" class="button1">ログイン</button>
    </form>
</body>
</html>