<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/menu.css')}}">
    <title>ホーム画面</title>
</head>
<body>
    <header>
        <a href="{{url_for('index')}}" class="titlename">清掃管理システム</a>
        <p>ダイワロイネットホテル</p>
    </header>   
    <div id="ps">
        <a href="{{url_for("register_form")}}" class="pass">管理者登録はこちら</a><br>
    </div>
    <button class="a-btn"><a href="{{url_for("room_management")}}" class="a-text">客室<br>管理</a></button>  
    <button class="a-btn"><a href="{{url_for("shift_management")}}" class="a-text">シフト<br>管理</a></button>  
    <button class="a-btn"><a href="{{url_for("employee_all")}}" class="a-text">従業員<br>管理</a></button><br>
    <button href="{{url_for("logout")}}" class="button1">ログアウト</button>
 
    <form action="{{url_for('emp')}}" method="get">
        <button type="submit">従業員登録</button>
    </form>
</body>
</html>