<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>客室管理</title>
    <script src="{{url_for("static",filename="/css/jquery-3.7.1.min.js")}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='/css/room_management.css')}}">
</head>
<body>
    <header>
        <a class="titlename">清掃管理システム</a>
        <p>ダイワロイネットホテル</p>
    </header>
    <div class="exp">
        <p class="ex">&nbsp;&nbsp;&nbsp;客室管理</p>
        <p class="ex">選択後、更新を押してください</p>
    </div>
    <div class="allbox">
        &nbsp;&nbsp;
        <div class="box1"></div>：未清掃
        <div class="box2"></div>：清掃中
        <div class="box3"></div>：清掃済み
        <div class="box4"></div>：選択中
    </div>
    <div class="btns">
        <button class="btn1"><a href="{{url_for('update_guestroom_all')}}" class="a-text">全て未清掃に変更</a></button>
        <button class="modal-open btn1" onclick="displayCheckedCheckboxes()">更新</button>
    </div>    
    <form id="checkboxForm" method="post" action="{{ url_for('change_status') }}">
        <p style="font-size: 20px" class="floor">2F</p>
         <table>
            <tbody>
                {% for room in room %}
                    {% if loop.index % 9 == 1 %}
                        <tr class="flex-row">
                    {% endif %}        
                        <td id="{{room[1]}}" class="button_room {% if room[1] == 0 %}red{% endif %} {% if room[1] == 1 %}yellow{% endif %} {% if room[1] == 2 %}green{% endif %}" onclick="changeColor(this)"><label><input type="checkbox" name="room" value="{{room[0]}}" onclick="handleCheckboxClick(this)"><span>{{room[0]}}</span></label></td>   
                    {% if loop.index % 9 == 0 or loop.last %} 
                        {% if loop.index == 13 %}
                            <td style="opacity: 0.0;"></td><td style="opacity: 0.0;"></td><td style="opacity: 0.0;"></td><td style="opacity: 0.0;"></td><td style="opacity: 0.0;"></td> <!-- 2行目の最後に見えない空セルを追加 -->
                        {% endif %}
                        </tr>  
                    {% endif %}     
                {% endfor %}          
            </tbody>
        </table>        
        <br>
        <p style="font-size: 20px" class="floor">3F</p>
        <table>
            <tbody>
                {% for troom in troom %}
                    {% if loop.index % 9 == 1 %}
                        <tr class="flex-row">
                    {% endif %}        
                        <td id="{{troom[1]}}" class="button_room {% if troom[1] == 0 %}red{% endif %} {% if troom[1] == 1 %}yellow{% endif %} {% if troom[1] == 2 %}green{% endif %}" onclick="changeColor(this)"><label><input type="checkbox" name="room" value="{{troom[0]}}" onclick="handleCheckboxClick(this)"><span>{{troom[0]}}</span></label></td>   
                    {% if loop.index % 9 == 0 or loop.last %} 
                        {% if loop.index == 26 %}
                            <td style="opacity: 0.0;"></td>
                        {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}          
            </tbody>
        </table>         
        <p style="font-size: 20px" class="floor">4F</p>
        <table>
            <tbody>
                {% for foroom in foroom %}
                    {% if loop.index % 9 == 1 %}
                        <tr class="flex-row">
                    {% endif %}        
                        <td id="{{foroom[1]}}" class="button_room {% if foroom[1] == 0 %}red{% endif %} {% if foroom[1] == 1 %}yellow{% endif %} {% if foroom[1] == 2 %}green{% endif %}" onclick="changeColor(this)"><label><input type="checkbox" name="room" value="{{foroom[0]}}" onclick="handleCheckboxClick(this)"><span>{{foroom[0]}}</span></label></td>      
                    {% if loop.index % 9 == 0 or loop.last %} 
                        {% if loop.index == 26 %}
                            <td style="opacity: 0.0;"></td>
                        {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}          
            </tbody>
        </table>         
        <p style="font-size: 20px" class="floor">5F</p>
        <table>
            <tbody>
                {% for firoom in firoom %}
                    {% if loop.index % 9 == 1 %}
                        <tr class="flex-row">
                    {% endif %}        
                        <td id="{{firoom[1]}}" class="button_room {% if firoom[1] == 0 %}red{% endif %} {% if firoom[1] == 1 %}yellow{% endif %} {% if firoom[1] == 2 %}green{% endif %}" onclick="changeColor(this)"><label><input type="checkbox" name="room" value="{{firoom[0]}}" onclick="handleCheckboxClick(this)"><span>{{firoom[0]}}</span></label></td>   
                    {% if loop.index % 9 == 0 or loop.last %} 
                        {% if loop.index == 26 %}
                            <td style="opacity: 0.0;"></td>
                        {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}          
            </tbody>
        </table>         
        <p style="font-size: 20px" class="floor">6F</p>
        <table>
            <tbody>
                {% for siroom in siroom %}
                    {% if loop.index % 9 == 1 %}
                        <tr class="flex-row">
                    {% endif %}        
                        <td id="{{siroom[1]}}" class="button_room {% if siroom[1] == 0 %}red{% endif %} {% if siroom[1] == 1 %}yellow{% endif %} {% if siroom[1] == 2 %}green{% endif %}" onclick="changeColor(this)"><label><input type="checkbox" name="room" value="{{siroom[0]}}" onclick="handleCheckboxClick(this)"><span>{{siroom[0]}}</span></label></td>   
                    {% if loop.index % 9 == 0 or loop.last %} 
                        {% if loop.index == 26 %}
                            <td style="opacity: 0.0;"></td>
                        {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}          
            </tbody>
        </table>       
        <p style="font-size: 20px" class="floor">7F</p>
        <table>
            <tbody>
                {% for seroom in seroom %}
                    {% if loop.index % 9 == 1 %}
                        <tr class="flex-row">
                    {% endif %}        
                        <td id="{{seroom[1]}}" class="button_room {% if seroom[1] == 0 %}red{% endif %} {% if seroom[1] == 1 %}yellow{% endif %} {% if seroom[1] == 2 %}green{% endif %}" onclick="changeColor(this)"><label><input type="checkbox" name="room" value="{{seroom[0]}}" onclick="handleCheckboxClick(this)"><span>{{seroom[0]}}</span></label></td>   
                    {% if loop.index % 9 == 0 or loop.last %} 
                        {% if loop.index == 26 %}
                            <td style="opacity: 0.0;"></td>
                        {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}          
            </tbody>
        </table>       
        <p style="font-size: 20px" class="floor">8F</p>
        <table>
            <tbody>
                {% for eiroom in eiroom %}
                    {% if loop.index % 9 == 1 %}
                        <tr class="flex-row">
                    {% endif %}        
                        <td id="{{eiroom[1]}}" class="button_room {% if eiroom[1] == 0 %}red{% endif %} {% if eiroom[1] == 1 %}yellow{% endif %} {% if eiroom[1] == 2 %}green{% endif %}" onclick="changeColor(this)"><label><input type="checkbox" name="room" value="{{eiroom[0]}}" onclick="handleCheckboxClick(this)"><span>{{eiroom[0]}}</span></label></td>
                    {% if loop.index % 9 == 0 or loop.last %} 
                        {% if loop.index == 26 %}
                            <td style="opacity: 0.0;"></td>
                        {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}          
            </tbody>
        </table>       
        <p style="font-size: 20px" class="floor">9F</p>
        <table>
            <tbody>
                {% for niroom in niroom %}
                    {% if loop.index % 9 == 1 %}
                        <tr class="flex-row">
                    {% endif %}        
                        <td id="{{niroom[1]}}" class="button_room {% if niroom[1] == 0 %}red{% endif %} {% if niroom[1] == 1 %}yellow{% endif %} {% if niroom[1] == 2 %}green{% endif %}" onclick="changeColor(this)"><label><input type="checkbox" name="room" value="{{niroom[0]}}" onclick="handleCheckboxClick(this)"><span>{{niroom[0]}}</span></label></td>
                    {% if loop.index % 9 == 0 or loop.last %} 
                        {% if loop.index == 26 %}
                            <td style="opacity: 0.0;"></td>
                        {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}          
            </tbody>
        </table>       
        <p style="font-size: 20px" class="floor">10F</p>
        <table>
            <tbody>
                {% for teroom in teroom %}
                    {% if loop.index % 9 == 1 %}
                        <tr class="flex-row">
                    {% endif %}        
                        <td id="{{teroom[1]}}" class="button_room {% if teroom[1] == 0 %}red{% endif %} {% if teroom[1] == 1 %}yellow{% endif %} {% if teroom[1] == 2 %}green{% endif %}" onclick="changeColor(this)"><label><input type="checkbox" name="room" value="{{teroom[0]}}" onclick="handleCheckboxClick(this)"><span>{{teroom[0]}}</span></label></td>   
                    {% if loop.index % 9 == 0 or loop.last %} 
                        {% if loop.index == 24 %}
                            <td style="opacity: 0.0;"></td><td style="opacity: 0.0;"></td><td style="opacity: 0.0;"></td>
                        {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}          
            </tbody>
        </table>       
        <p style="font-size: 20px" class="floor">11F</p>
        <table>
            <tbody>
                {% for elroom in elroom %}
                    {% if loop.index % 9 == 1 %}
                        <tr class="flex-row">
                    {% endif %}        
                        <td id="{{elroom[1]}}" class="button_room {% if elroom[1] == 0 %}red{% endif %} {% if elroom[1] == 1 %}yellow{% endif %} {% if elroom[1] == 2 %}green{% endif %}" onclick="changeColor(this)"><label><input type="checkbox" name="room" value="{{elroom[0]}}" onclick="handleCheckboxClick(this)"><span>{{elroom[0]}}</span></label></td>   
                    {% if loop.index % 9 == 0 or loop.last %} 
                        {% if loop.index == 24 %}
                            <td style="opacity: 0.0;"></td><td style="opacity: 0.0;"></td><td style="opacity: 0.0;"></td>
                        {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}          
            </tbody>
        </table>
        <div id="myModal">
            <span id="closeModal">✖</span>
            <div id="modal-content">
                <div class="stbtn" id="changeButton">
                    <button class="m" name="changebtn" value="0" onclick="roomchange()">未清掃に変更</button>
                    <button class="s" name="changebtn" value="1" onclick="roomchange()">清掃中に変更</button>
                    <button class="z" name="changebtn" value="2" onclick="roomchange()">清掃済みに変更</button>
                </div>
            </div>    
        </div>
    </form>      
    <br>     
    <div style="text-align: center;">
        <button class="size">戻る</button>
    </div>
    <script>
        // モーダルを閉じる処理
        document.getElementById("closeModal").addEventListener("click", function () {
            document.getElementById("myModal").style.display = "none";
        });

        // チェックされたチェックボックスを表示する処理
        function displayCheckedCheckboxes() {
            let checkboxes = document.querySelectorAll("input[type=checkbox]:checked");
            let modalText = "";
            let modalContent = document.getElementById("modal-content");

            checkboxes.forEach(function (checkbox) {
            // チェックボックスの親要素であるtd要素を取得
            let tdElement = checkbox.closest('td');

            // すでに表示されているか確認
            let existingLabel = modalContent.querySelector(".modaldiv[data-id='" + checkbox.value + "']");

            if (!existingLabel && tdElement) {
                let div = document.createElement("div");
                div.className = "modaldiv";
                div.setAttribute("data-id", checkbox.value);

                if (tdElement.classList.contains("red")) {
                    div.style.backgroundColor = "#FF8F8F";
                } else if (tdElement.classList.contains("yellow")) {
                    div.style.backgroundColor = "#FFFF8A";
                } else if (tdElement.classList.contains("green")) {
                    div.style.backgroundColor = "#82FA95";
                }

                div.innerHTML = "<p class='divtext'>" + checkbox.value + "</p>";
                modalContent.appendChild(div);
            }
        });
            document.getElementById("myModal").style.display = "block";
            document.getElementById("modal-content").appendChild(document.getElementById("changeButton"));
        }

        // チェックボックスがクリックされたときに呼ばれる関数
        function handleCheckboxClick(checkbox) {
            // チェックボックスの状態に応じて色を変更
            let label = checkbox.closest('td'); // チェックボックスに最も近い label 要素を取得
            
            if (checkbox.checked) {
                label.style.backgroundColor = '#82DAFA'; // チェックが入ったときの背景色
            } else {
                label.style.backgroundColor = ''; // チェックが外れたときは背景色をクリア
            }
        }

        function roomchange() {
            document.getElementById("checkboxForm").submit();
        }
    </script>
</body>
</html>