<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/shift_management.css')}}">
    <title>シフト管理</title>
</head>
<body>
    <header>
        <a href="#" class="titlename">清掃管理システム</a>
        <h3>ダイワロイネットホテル</h3>
    </header>
    <h3 class="up">出勤日にチェックを入れて更新してください</h3>
    <h3 class="black">希望休には🔳が自動で入ります</h3>
   <table border=1>
    <tr>
        <td>{{ current_year }}年{{ current_month }}月</td>
        {% for i in range(value): %}
            <th>{{ day_list[i] }}<br>{{ cw_list[i] }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for i in range(volume): %}
            <td>{{ name[i] }}{{ type[i] }}</td>
        {% endfor %}
        {% for i in range(1, value+1): %}
            <td>
                {% if shift_day[i] %}
                    {{ shift_day[i] }}
                    <input type="checkbox" class="custom-checkbox" id="checkbox_{{ i }}" onclick="changeColor(this, {{ i }})">
                    <script>
                        window.onload = function() {
                            const checkbox = document.getElementById('checkbox_{{ i }}');
                            const td = checkbox.parentElement;
                            if (checkbox.checked) {
                                td.classList.add('checked');
                            } else {
                                td.classList.add('unchecked');
                            }
                        };
                    </script>
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    
    <script>
        function changeColor(checkbox, dayIndex) {
            const td = checkbox.parentElement;
            if (checkbox.checked) {
                td.classList.remove('unchecked');
                td.classList.add('checked');
            } else {
                td.classList.remove('checked');
                td.classList.add('unchecked');
            }
    
            axios.post('/update_shift_status', { dayIndex: dayIndex, checked: checkbox.checked })
                .then(response => {
                    console.log(response.data);
                })
                .catch(error => {
                    console.error(error);
                });
        }
    </script>
    
    
</body>
</html>