<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/clean.css')}}">
    <title>清掃</title>
</head>
<body>
    <header>
        {% if emp != [] %}
        <input type="hidden" value="{{emp}}">
        <a href="{{url_for('menu')}}" class="titlename">清掃管理システム</a>
        <h3>ダイワロイネットホテル</h3>
        {% endif %}    
    </header>
    
    <div class="room">
        {% for room in clean %}
        <h1>{{room[0]}}</h1>
        {% endfor %}
    </div>

    <div class="title_content">
    <h2>以下の項目を必ず</br>確認してください</h2>
    </div>

    <div class="content">
        <input type="checkbox" id="myCheckbox" name="myCheckbox" value="チェックされたときの値">
        <label for="myCheckbox">アメニティがあるか</label></br>
        <input type="checkbox" id="myCheckbox" name="myCheckbox" value="チェックされたときの値">
        <label for="myCheckbox">冷蔵庫の中はないか</label></br>
        <input type="checkbox" id="myCheckbox" name="myCheckbox" value="チェックされたときの値">
        <label for="myCheckbox">人数分のナイトウエアがあるか</label></br>
        <input type="checkbox" id="myCheckbox" name="myCheckbox" value="チェックされたときの値">
        <label for="myCheckbox">人数分のスリッパがあるか</label></br>
        <input type="checkbox" id="myCheckbox" name="myCheckbox" value="チェックされたときの値">
        <label for="myCheckbox">浴槽に毛が落ちてないか</label></br>
        <input type="checkbox" id="myCheckbox" name="myCheckbox" value="チェックされたときの値">
        <label for="myCheckbox">人数分の水があるか</label></br>
        <input type="checkbox" id="myCheckbox" name="myCheckbox" value="チェックされたときの値">
        <label for="myCheckbox">要望に応えているか</label></br>
    </div>
    
    <div class="content2">
        {% for room in clean %}
        <h5>ナイトウェア {{room[1]}}</h5>
        <h5>バスタオル {{room[2]}}</h5>
        <h5>ミネラルウォーター {{room[3]}}</h5>
        <h5>フェイスタオル {{room[4]}}</h5>
        <h5>ティッシュ {{room[5]}}</h5>
        <h5>緑茶 {{room[6]}}</h5>
        <h5>トイレットペーパー {{room[7]}}</h5>
        <h5>スリッパ {{room[8]}}</h5>
        <h5>ヘアブラシ {{room[9]}}</h5>
        <h5>歯ブラシ {{room[10]}}</h5>
        <h5>その他 {{room[11]}}</h5>
        {% endfor %}
    </div>


    <div class="end">
        <h2>清掃を終了しますか?</h2>
        {% for room in clean %}
        {% if emp != [] %}
        <form action="{{url_for('clean_completion')}}" method="post">
            <input type="hidden" value="{{emp}}">
            <input type="hidden" name="room_number" value="{{room[0]}}">
            <button type="submit" class="button1">完了</button>
        </form>
        {% endif %}
        {% endfor %}
    </div>

        <script>

            function validateCheckboxes() {
                var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                var isChecked = true;

                checkboxes.forEach(function(checkbox) {
                    if (!checkbox.checked) {
                        isChecked = false;
                    }
                });

                if (isChecked) {
                    window.location.href = 'noclean_all.html'; 
                } else {
                    window.location.href = 'clean_error.html'; 
                }
            }
        </script>

        <script>
            function getParameterByName(name) {
                var urlParams = new URLSearchParams(window.location.search);
                return urlParams.get(name);
            }

            window.onload = function() {
                var buttonNumber = getParameterByName('buttonNumber');
                var displayElement = document.getElementById('displayButtonNumber');

                if (buttonNumber) {
                    displayElement.textContent = buttonNumber;
                } else {
                    displayElement.textContent = "error";
                }
            };
        </script>
    
</body>
</html>