<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード変更</title>
</head>
<body>
    <header>
        <a href="{{url_for('index')}}">清掃管理システム</a>
        <h4>ダイワロイネットホテル</h4>
    </header>

    <div class="change_password">
        <h1>パスワード変更</h1>
        <h2>入力したメールアドレスに送られた確認番号を入力してください</h2>
        {% if error != null %}
            <p style="color:red">{{error}}</p>
        {% endif %}
        <form action="{{url_for('change_password')}}" method="post">
            <p>確認番号を入力してください</p>
            <input type="text" name="otp">
            <p>新しいパスワードを入力してください</p>
            <input type="password" name="password1">
            <p>再入力してください</p>
            <input type="password" name="password2">
            <button type="submit" class="button1">変更</button>
        </form>
    </div>
</body>
</html>