<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <a href="{{}}">清掃管理システム</a>
    <h4>ダイワロイネットホテル</h4>
</header>
<body>
    <a href="{{}}">これまでの統計</a>
    <div class="one">
        <p>本日の</p>
    </div>
    <div class="two">
        <p>インセンティブ</p>
    </div>
    <div class="three">
        <p>今月の</p>
    </div>
    <div class="four">
        <p>インセンティブ</p>
    </div>
    <button onclick="location.href='menu.html'">戻る</button></br>
</body>
</html>