<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/menu.css')}}">
    <title>ホーム</title>
    <style>
    button {
        padding: 15px 25px; 
        font-size: 18px; 
        border-radius: 8px; 
        border: none; 
        cursor: pointer; 
        margin-bottom: 10px; 
    }
</style>
</head>
<body>
    <header>
        <a href="{{url_for('menu')}}" class="titlename">清掃管理システム</a>
        <h3>ダイワロイネットホテル</h3>
    </header>

    <div class="list_job">
        <form action="{{url_for('noclean_all')}}" method="get">
            <button type="submit" class="button1">未清掃一覧</button></br>
        </form>
        <form action="{{url_for('shift_all')}}" method="get">
            <button type="submit" class="button1">シフト閲覧</button></br>
        </form>
        <form action="{{url_for('shift')}}" method="get">
            <button type="submit" class="button1">シフト申請</button></br>
        </form>
        <form action="{{url_for('insentive_view')}}" method="get">
            <button type="submit" class="button1">インセンティブ</button></br>
        </form>
        <form action="{{url_for('logout')}}" method="get">
            <button type="submit" class="button1">ログアウト</button></br>
        </form>
    </div>
</body>
</html>
