<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/menu.css">
    <title>ホーム</title>
    <style>
    button {
        padding: 15px 25px; 
        font-size: 18px; 
        border-radius: 8px; 
        border: none; 
        cursor: pointer; 
        margin-bottom: 10px; 
    }
</style>
</head>
<body>
    <header>
        <a href="#">清掃管理システム</a>
        <h4>ダイワロイネットホテル</h4>
    </header>
    <button onclick="location.href='noclean_all.html'">未清掃一覧</button></br>
    <button onclick="location.href='shift_all.html'">シフト閲覧</button></br>
    <button onclick="location.href='shift.html'">シフト申請</button></br>
    <button onclick="location.href='insentive_view.html'">インセンティブ</button></br>
    <button onclick="location.href='index.html'">ログアウト</button></br>
</body>
</html>
