<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/noclean_all.css')}}">
    <title>未清掃一覧</title>
</head>
<body>
    <header>
        <a href="{{url_for('menu')}}" class="titlename">清掃管理システム</a>
        <h3>ダイワロイネットホテル</h3>
    </header>
    
    <div class="hierarchy">
        <h1 class="noclean">未清掃一覧</h1>
            <select id="cleaningOptions" name="cleaningOptions" onChange="location.href=value" class="pulldown">
                <option>フロア</option>
                <option value="{{url_for('noclean_all', floor=2)}}" value="2">2F</option>
                <option value="{{url_for('noclean_all', floor=3)}}" value="3">3F</option>
                <option value="{{url_for('noclean_all', floor=4)}}" value="4">4F</option>
                <option value="{{url_for('noclean_all', floor=5)}}" value="5">5F</option>
                <option value="{{url_for('noclean_all', floor=6)}}" value="6">6F</option>
                <option value="{{url_for('noclean_all', floor=7)}}" value="7">7F</option>
                <option value="{{url_for('noclean_all', floor=8)}}" value="8">8F</option>
                <option value="{{url_for('noclean_all', floor=9)}}" value="9">9F</option>
                <option value="{{url_for('noclean_all', floor=10)}}" value="10">10F</option>
                <option value="{{url_for('noclean_all', floor=11)}}" value="11">11F</option>
                <option value="{{url_for('noclean_all_list')}}">すべて</option>
            </select></br>
    </div>

    <script>
        function redirectToPage() {
          var selectBox = document.getElementById("cleaningOptions");
          var selectedValue = selectBox.options[selectBox.selectedIndex].value;
          window.location.href = selectedValue; // オプションの値に応じてリンク先にリダイレクト
        }
    </script>

    <div class="noclean_room">
        {% for rooms in room %}
        <form action="{{url_for('start_clean')}}" method="get">
            <input type="hidden" name="room_number" value="{{rooms[0]}}"><br>
            <button type="submit" class="button1">{{rooms[0]}}</button><br>
        </form>
        {% endfor %}
    </div>
    
    <div class="return_menu">
        <form action="{{url_for('menu')}}" method="get">
            <button type="submit" class="button2">戻る</button>
        </form>
    </div>
</body>
</html>